html {height: 100%;}

body {
    margin: 0;
    background: #03060c url(img/bg1024.png) no-repeat;
    background-size: cover;
    height: 100%;
}



.work_area {
    display: flex;
    flex-direction: column;
    height: 90%;
    padding: 2%;
    position: relative;

    justify-content: space-around;
    
    
}


.top_element {
    width: 380px;
    height: 345px;
    display: flex;
    top: 15px;
    
    position: relative;
    
    margin: auto;
       
}

.frame3 {
    display: flex;
    flex-direction: row;
    padding: 0px;
    top: 30px;
    position: relative;
    
    margin: auto;
   
    
    justify-content: space-around;
    
    flex-wrap: wrap;
}

.avatar {
           
          
        position: relative;
        width: 188px;
        height: 188px;
        margin: auto;

        border-radius: 121px;
        
        background: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%) fixed;
        background-clip: border-box;
        border: 2px solid transparent;
      }





.text7 {
    position: relative;
    font-weight: bold;
    height: 35px;
    
    top: 10px;

    /* Heading 3 */
    font-family: Crimson Text;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 110%;

    /* or 35px */
    text-align: center;
    
    
    background: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%);
    background-clip: text;
    /* Gradient text */
    color: transparent;
}




@media screen and (min-width: 1024px){
    body {
       
    margin: 0;
    background: #03060c url(img/bg1440.png) no-repeat;
    background-size: cover;
    height: 100%;

    }
    
    .frame3 {
    display: flex;
    flex-direction: row;
    padding: 0px;

    position: relative;
    margin: auto;
    
    width: 960px;
    
    justify-content: space-around;
    
    flex-wrap: wrap;
    
    
    }
    
    
    
    
}

@media screen and (max-width: 768px){
    body {
       
    margin: 0;
    background: #03060c url(img/bg768.png) no-repeat;
    background-size: cover;
    height: 100%;

    }
    
    .top_element {
    width: 284px;
    height: 257px;
    display: flex;
    top: 15px;
    
    position: relative;
    
    margin: auto;
       
    }
    

}

@media screen and (max-width: 320px){
    body {
       
    margin: 0;
    background: #03060c url(img/bg320.png) no-repeat;
    background-size: cover;
    height: 100%;

    }
    
    .avatar {
           
          
        position: relative;
        width: 120px;
        height: 120px;
        margin: auto;

        border-radius: 121px;
        
        background: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%) fixed;
        background-clip: border-box;
        border: 2px solid transparent;
      }
      
      .text7 {
    position: relative;
    font-weight: bold;
    height: 35px;
    
    top: 10px;

    /* Heading 3 */
    font-family: Crimson Text;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 110%;

    /* or 35px */
    text-align: center;
    
    
    background: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%);
    background-clip: text;
    /* Gradient text */
    color: transparent;
}

    .top_element {
    width: 202px;
    height: 181px;
    display: flex;
    top: 15px;
    
    position: relative;
    
    margin: auto;
       
}
    
    
}

  